@use 'variables';
@use 'bootstrap';

@import './vendor/layer-selector/LayerSelector.css';

.title {
  h4 {
    font-family: Montserrat, Arial, sans-serif;
  }
  color: variables.$highlightColor;
}

.about-content {
  width: 350px;
}
