@use 'variables';
@import 'bootstrap';

@import '../node_modules/@ugrc/layer-selector/src/LayerSelector.css';

.title {
  h4 {
    font-family: Montserrat, Arial, sans-serif;
  }
  color: variables.$highlightColor;
}

.about-content {
  width: 350px;
}
