@import 'bootstrap';

@import './variables.scss';
@import '../node_modules/@ugrc/layer-selector/src/LayerSelector.css';

.title {
  h4 {
    font-family: Montserrat, Arial, sans-serif;
  }
  color: $highlightColor;
}

.about-content {
  width: 350px;
}
